<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
<meta charset="UTF-8">
<title>Add a Cat</title>
</head>
<body>
	<h2>Cat info</h2>
	
	<div>
		<form th:object="${cat}" th:action="@{/save}" action="#" method="post">

			<label for="name">Nimi</label>
			<input type="text" id="name" th:field="*{name}" />
			<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>

			<div id="lab"></div>
			<label for="breed">Laji</label>
			<input type="text" id="breed" th:field="*{breed}" />
			<div th:if="${#fields.hasErrors('breed')}" th:errors="*{breed}">Error</div>

			<div id="lab"></div>
			<label for="owner">Omistaja</label>
			<input type="text" id="owner" th:field="*{owner}" />
			<div th:if="${#fields.hasErrors('owner')}" th:errors="*{owner}">Error</div>

			<div id="lab"></div>
			<label for="toy">Lemilelu</label>
			<input type="text" id="toy" th:field="*{toy}" />
			<div th:if="${#fields.hasErrors('toy')}" th:errors="*{toy}">Error</div>
			
			<div id="lab"></div>
			<label for="street">Osoite</label>
			<input type="text" id="street" th:field="*{address.street}" />
			<div th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}">Error</div>
			
			<div id="lab"></div>
			<label for="postCode">Postinumero</label>
			<input type="text" id="postCode" th:field="*{address.postCode}" />
			<div th:if="${#fields.hasErrors('address.postCode')}" th:errors="*{address.postCode}">Error</div>
			
			<div id="lab"></div>
			<label for="city">Kaupunki</label>
			<input type="text" id="city" th:field="*{address.city}" />
			<div th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}">Error</div>
			

			<div id="lab"></div>
			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>