<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
<meta charset="UTF-8">
<title>Edit a cat</title>
</head>
<body>
	<h2>Cat info</h2>

		<form th:object="${cat}" th:action="@{'/edit/' + cat.id}" action="#" method="post">
			<input type="hidden" id="id" th:field="*{id}" />

			<div class="form-group">
				<img th:src="@{'data:image/png;base64,' + *{base64Image}}" th:alt="*{name}" width="200" height="300" />
			</div>

			<div class="form-group">
			<label for="name">Name</label>
			<input type="text" id="name" th:field="*{name}" />
			<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
			</div>

			<div class="form-group">
			<label for="breed">Breed</label>
			<input type="text" id="breed" th:field="*{breed}" />
			<div th:if="${#fields.hasErrors('breed')}" th:errors="*{breed}">Error</div>
			</div>

			<div class="form-group">
			<label for="toy">Favorite Toy</label>
			<input type="text" id="toy" th:field="*{toy}" />
			<div th:if="${#fields.hasErrors('toy')}" th:errors="*{toy}">Error</div>
			</div>
			
 			<div class="form-group">
			<label for="street">Street</label>
			<input type="text" id="street" th:field="*{address.street}" />
			<div th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}">Error</div>
			</div>
			
			<div class="form-group">
			<label for="postCode">Post code</label>
			<input type="text" id="postCode" th:field="*{address.postCode}" />
			<div th:if="${#fields.hasErrors('address.postCode')}" th:errors="*{address.postCode}">Error</div>
			</div>
			
			<div class="form-group">
			<label for="city">City</label>
			<input type="text" id="city" th:field="*{address.city}" />
			<div th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}">Error</div>
			</div>
			
			<div class="form-group">
			<input type="submit" value="Save"></input>
			</div>
		</form>
</body>
</html>