<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head>
    <meta charset="UTF-8" />
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/main.css"
      th:href="@{/css/main.css}"
    />
    <title>Rent a Cat</title>
  </head>
  <body>
    <h2>List of cats</h2>
    <table>
      <tr>
        <th>Nimi</th>
        <th>Laji</th>
        <th>Omistaja</th>
        <th>Lempilelu</th>
        <th>Kaupunki</th>
        <th>Postinumero</th>
        <th>Osoite</th>
         <th> 
        	<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos"/></form> 
		</th>
		<th> <p> Roolisi on: </p><span sec:authentication="name"></span> </th>
      </tr>

      <tr th:each="cat : ${cats}">
        <td th:text="${cat.name}"></td>
        <td th:text="${cat.breed}"></td>
        <td th:text="${cat.owner}"></td>
        <td th:text="${cat.toy}"></td>
        <td th:text="${cat.address.city}"></td>  
         <td th:text="${cat.address.postCode}"></td>
          <td th:text="${cat.address.street}"></td>     

        <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${cat.id})}">Delete</a></td>
        <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${cat.id})}">Edit</a></td>
      </tr>
    </table>
    <a sec:authorize="hasAuthority('ADMIN')" class="add" href="/add">Add a Cat</a>
    <a sec:authorize="hasAuthority('ADMIN')"  class="users" href="/users">Käyttäjälista</a>
  </body>
</html>
