<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head>
    <meta charset="UTF-8" />
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/list.css"
      th:href="@{/css/list.css}"
    />
    <title>Rent a Cat</title>
    <style></style>
  </head>
  <body>
     <div class="top">
      <h1>Rent a Cat</h1>
      <div class="top-right">
      <div class="user-role">
        <p>Welcome back <span sec:authentication="name"></span> !</p>
      </div>
      <div class="logout-form">
        <form th:action="@{/logout}" method="post">
          <input type="submit" value="Log out" />
        </form>
      </div>
      </div>
    </div>
<div class="container">
     <div th:each="cat : ${cats}" class="cat-card">
        <img class="image" th:if="${cat.base64Image}" th:src="'data:image/png;base64,' + ${cat.base64Image}" alt="Cat Image" />
        <h2 th:text="${cat.name}"></h2>
        <p><strong>Breed:</strong> <span th:text="${cat.breed}"></span></p>
        <p><strong>Favorite Toy:</strong> <span th:text="${cat.toy}"></span></p>
        <p><strong>Owner:</strong> <span th:text="${cat.user.username}"></span></p>
        <p><strong>City:</strong> <span th:text="${cat.address.city}"></span></p>
        <p><strong>Post Code:</strong> <span th:text="${cat.address.postCode}"></span></p>
        <p><strong>Street:</strong> <span th:text="${cat.address.street}"></span></p>
        <a th:href="@{'/rent?catId=' + ${cat.id}}" class="rent-button">Rent this cat</a>
        <a th:href="@{'/edit/' + ${cat.id}}" sec:authorize="hasAuthority('ADMIN')">Edit</a>
        <a th:href="@{'/delete/' + ${cat.id}}" sec:authorize="hasAuthority('ADMIN')" class="delete">Delete</a>
        
    </div>
    </div>
    <div class="bottom">
    <button
      sec:authorize="hasAuthority('ADMIN')"
      class="add-button"
      onclick="location.href='/add'"
    >
      Add a Cat
    </button>
    <button
      sec:authorize="hasAuthority('ADMIN')"
      class="users-button"
      onclick="location.href='/users'"
    >
      List of users
    </button>
    </div>
  </body>
</html>
